<div class="container body-content w-95">
  <div class="content">
    <div class="row">
      <div class="col-md-3 baocao-filter">
        <div class="sidebar-bg">
          <form [formGroup]="formData">
            <fieldset>
              <label>Tìm theo tên thuốc</label>
              <div class="control-group">
                <ng-select [items]="listThuoc$ | async" [typeahead]="searchThuocTerm$" [minTermLength]="2"
                           formControlName="thuocId" appendTo="body" appearance="outline" bindLabel="tenThuoc"
                           bindValue="thuocId"
                           placeholder="Tên thuốc..."
                           notFoundText="Không tìm thấy mục nào"
                           typeToSearchText="Nhập 2 hoặc nhiều kí tự hơn để tìm kiếm"
                           (change)="searchThuocTerm$.next(''); onFieldChange($event, 'thuocId')">
                  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <span [ngOptionHighlight]="search">{{ item.tenThuoc }}</span>
                  </ng-template>
                </ng-select>
              </div>
            </fieldset>
            <fieldset>
              <label>Nhóm ngành hàng</label>
              <div class="control-group">
                <ng-select appendTo="body" appearance="outline" [items]="listNhomNganhHang"
                           formControlName="nhomNganhHangId"
                           bindLabel="tenNganhHang" bindValue="nhomNganhHangId" placeholder="Chọn hoặc gõ vào để tìm..."
                           notFoundText="Không tìm thấy mục nào" [clearable]="false" (change)="onDuocLyChange($event)">
                  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <span [ngOptionHighlight]="search">{{ item.tenNganhHang }}</span>
                  </ng-template>
                </ng-select>
              </div>
            </fieldset>
            <fieldset>
              <label>Nhóm dược lý</label>
              <div class="control-group">
                <ng-select appendTo="body" appearance="outline" [items]="listNhomDuocLy"
                           formControlName="nhomDuocLyId"
                           bindLabel="tenDuocLy" bindValue="nhomDuocLyId" placeholder="Chọn hoặc gõ vào để tìm..."
                           notFoundText="Không tìm thấy mục nào" [clearable]="false"
                           (change)="onHoatChatChange($event)">
                  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <span [ngOptionHighlight]="search">{{ item.tenDuocLy }}</span>
                  </ng-template>
                </ng-select>
              </div>
            </fieldset>
            <fieldset>
              <label>Nhóm hoạt chất</label>
              <div class="control-group">
                <ng-select appendTo="body" appearance="outline" [items]="listNhomHoatChat"
                           formControlName="nhomHoatChatId"
                           bindLabel="tenHoatChat" bindValue="nhomHoatChatId" placeholder="Chọn hoặc gõ vào để tìm..."
                           notFoundText="Không tìm thấy mục nào" [clearable]="false">
                  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <span [ngOptionHighlight]="search">{{ item.tenHoatChat }}</span>
                  </ng-template>
                </ng-select>
              </div>
            </fieldset>

            <fieldset>
              <label>Hàng thay thế</label>
              <div class="control-group">
                <ng-select [items]="listThuoc$ | async" [typeahead]="searchThuocTerm$" [minTermLength]="2"
                           formControlName="hangThayTheId" appendTo="body" appearance="outline" bindLabel="tenThuoc"
                           bindValue="thuocId"
                           placeholder="Tên hàng thay thế..."
                           notFoundText="Không tìm thấy mục nào"
                           typeToSearchText="Nhập 2 hoặc nhiều kí tự hơn để tìm kiếm"
                           (change)="searchThuocTerm$.next(''); onFieldChange($event, 'hangThayTheId')">
                  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <span [ngOptionHighlight]="search">{{ item.tenThuoc }}</span>
                  </ng-template>
                </ng-select>
              </div>
            </fieldset>
            <fieldset>
              <label>Hàng bán kèm</label>
              <div class="control-group">
                <ng-select [items]="listThuoc$ | async" [typeahead]="searchThuocTerm$" [minTermLength]="2"
                           formControlName="hangBanKemId" appendTo="body" appearance="outline" bindLabel="tenThuoc"
                           bindValue="thuocId"
                           placeholder="Tên hàng bán kèm..."
                           notFoundText="Không tìm thấy mục nào"
                           typeToSearchText="Nhập 2 hoặc nhiều kí tự hơn để tìm kiếm"
                           (change)="searchThuocTerm$.next(''); onFieldChange($event, 'hangBanKemId')">">
                  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <span [ngOptionHighlight]="search">{{ item.tenThuoc }}</span>
                  </ng-template>
                </ng-select>
              </div>
            </fieldset>
            <fieldset class="baocao-filter mb-3">
              <div class="option mb-3">
                <app-date-range-filter [filterType]="DATE_RANGE.BY_DATE"
                                       [fromDateControl]="'fromDate'"
                                       [toDateControl]="'toDate'"
                                       (filterTypeChange)="changeFilterType($event)"
                                       (fromDateChange)="changeFromDate($event)"
                                       (toDateChange)="changeToDate($event)"
                ></app-date-range-filter>
              </div>
              <button type="button" class="btn btn-primary w-100" (click)="searchPageHangHoa()">Xem</button>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="col-md-9">
        <div class="baocao-container box-group-white">
          <h2 class="text-center"><b>{{ title }}</b></h2>
          <div class="mat-table-container">
            <table mat-table
                   class="table table-striped table-bordered table-hover tr-ng-grid"
                   [dataSource]="getDataSource()" matSort>

              <!-- Collapse Header-->
              <ng-container matColumnDef="thongTinChung">
                <th mat-header-cell *matHeaderCellDef [attr.colspan]="6">Thông tin chung</th>
              </ng-container>

              <ng-container matColumnDef="phoGiaBan">
                <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Phổ giá bán</th>
              </ng-container>

              <ng-container matColumnDef="phoGiaNhap">
                <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Phổ giá nhập</th>
              </ng-container>

              <ng-container matColumnDef="doanhThu">
                <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Doanh thu</th>
              </ng-container>

              <ng-container matColumnDef="action1">
                <th mat-header-cell *matHeaderCellDef></th>
              </ng-container>

              <!-- Header-->
              <ng-container matColumnDef="#">
                <th mat-header-cell *matHeaderCellDef> #</th>
                <td mat-cell *matCellDef="let data; index as i;">
                  <div class="text-right">
                    {{ (page - 1) * pageSize + i + 1 }}
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="tenThuoc">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên thuốc</th>
                <td mat-cell *matCellDef="let data">
                  <div class="text-left">{{ data.tenThuoc }}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="tenNhomHoatChat">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Hoạt chất</th>
                <td mat-cell *matCellDef="let data">
                  <div class="text-left">{{ data.tenNhomHoatChat }}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="tenNhomThuoc">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngành hàng</th>
                <td mat-cell *matCellDef="let data">
                  <div class="text-left">{{ data.tenNhomThuoc }}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="tenNhomDuocLy">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nhóm dược lý</th>
                <td mat-cell *matCellDef="let data">
                  <div class="text-left">{{ data.tenNhomDuocLy }}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="tenDonVi">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Đơn vị</th>
                <td mat-cell *matCellDef="let data">
                  <div class="text-left">{{ data.tenDonVi }}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="giaBanMin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Thấp nhất</th>
                <td mat-cell *matCellDef="let data">
                  <div class="text-right">{{ data.giaBanMin | number }}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="giaBanMax">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cao nhất</th>
                <td mat-cell *matCellDef="let data">
                  <div class="text-right">{{ data.giaBanMax | number }}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="giaNhapMin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Thấp nhất</th>
                <td mat-cell *matCellDef="let data">
                  <div class="text-right">{{ data.giaNhapMin | number }}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="giaNhapMax">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cao nhất</th>
                <td mat-cell *matCellDef="let data">
                  <div class="text-right">{{ data.giaNhapMax | number }}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="doanhSoTT">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Thị trường</th>
                <td mat-cell *matCellDef="let data">
                  <div class="text-right">{{ data.doanhSoTT | number }}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="doanhSoCS">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cơ sở</th>
                <td mat-cell *matCellDef="let data">
                  <div class="text-right">{{ data.doanhSoCS | number }}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="action2">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let data">
                  <div class="baocao-actions" style="justify-content: start;">
                    <button class="btn btn-primary" (click)="openNguonHangDialog(data)">Nguồn hàng</button>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="footer">
                <td mat-footer-cell *matFooterCellDef colspan="100">
                  <app-pagination [currentPage]="page" [totalPages]="totalPages" [totalRecord]="totalRecord"
                                  (pageChange)="changePageIndexHangHoa($event)"
                                  (pageSizeChange)="changePageSizeHangHoa($event)"></app-pagination>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="collapseColumns; sticky: true"></tr>
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <tr mat-footer-row *matFooterRowDef="['footer']; sticky: true"></tr>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
