<div class="container body-content w-95">
  <div class="content">
    <div class="row">
      <div class="col-md-3 baocao-filter">
        <div class="sidebar-bg">
          <form [formGroup]="formData">
            <fieldset>
              <label>Nhóm ngành hàng</label>
              <div class="control-group">
                <ng-select appendTo="body" appearance="outline" [items]="listNhomNganhHang"
                           formControlName="nhomNganhHangId"
                           bindLabel="tenNganhHang" bindValue="nhomNganhHangId" placeholder="Chọn hoặc gõ vào để tìm..."
                           notFoundText="Không tìm thấy mục nào" [clearable]="false" (change)="onDuocLyChange($event)">
                  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <span [ngOptionHighlight]="search">{{ item.tenNganhHang }}</span>
                  </ng-template>
                </ng-select>
              </div>
            </fieldset>
            <fieldset>
              <label>Nhóm dược lý</label>
              <div class="control-group">
                <ng-select appendTo="body" appearance="outline" [items]="listNhomDuocLy"
                           formControlName="nhomDuocLyId"
                           bindLabel="tenDuocLy" bindValue="nhomDuocLyId" placeholder="Chọn hoặc gõ vào để tìm..."
                           notFoundText="Không tìm thấy mục nào" [clearable]="false"
                           (change)="onHoatChatChange($event)">
                  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <span [ngOptionHighlight]="search">{{ item.tenDuocLy }}</span>
                  </ng-template>
                </ng-select>
              </div>
            </fieldset>
            <fieldset>
              <label>Nhóm hoạt chất</label>
              <div class="control-group">
                <ng-select appendTo="body" appearance="outline" [items]="listNhomHoatChat"
                           formControlName="nhomHoatChatId"
                           bindLabel="tenHoatChat" bindValue="nhomHoatChatId" placeholder="Chọn hoặc gõ vào để tìm..."
                           notFoundText="Không tìm thấy mục nào" [clearable]="false">
                  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <span [ngOptionHighlight]="search">{{ item.tenHoatChat }}</span>
                  </ng-template>
                </ng-select>
              </div>
            </fieldset>
            <fieldset>
              <label>Top hiển thị</label>
              <div class="control-group">
                <input formControlName="pageSize" type="text" class="form-control"
                       placeholder="Nhập số lượng bản ghi"
                       (keyup.enter)="searchTopTyXuatLoiNhuan()"/>
              </div>
            </fieldset>
            <fieldset class="baocao-filter mb-3">
              <div class="option mb-3">
                <app-date-range-filter [filterType]="DATE_RANGE.BY_DATE"
                                       [fromDateControl]="'fromDate'"
                                       [toDateControl]="'toDate'"
                                       (filterTypeChange)="changeFilterType($event)"
                                       (fromDateChange)="changeFromDate($event)"
                                       (toDateChange)="changeToDate($event)"
                ></app-date-range-filter>
              </div>
              <button type="button" class="btn btn-primary w-100" (click)="searchTopTyXuatLoiNhuan()">Xem</button>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="col-md-9">
        <div class="baocao-container box-group-white">
          <h2 class="text-center"><b>{{ title }}</b></h2>
          <div class="mat-table-container">
            <table mat-table
                   class="table table-striped table-bordered table-hover tr-ng-grid"
                   [dataSource]="getDataSource()" matSort>

              <ng-container matColumnDef="#">
                <th mat-header-cell *matHeaderCellDef> #</th>
                <td mat-cell *matCellDef="let data; index as i;">
                  <div class="text-right">
                    {{ (page - 1) * pageSize + i + 1 }}
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="tenThuoc">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên thuốc</th>
                <td mat-cell *matCellDef="let data">
                  <div class="text-left">{{ data.tenThuoc }}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="tenNhomThuoc">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngành hàng</th>
                <td mat-cell *matCellDef="let data">
                  <div class="text-left">{{ data.tenNhomThuoc }}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="tenDonVi">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Đơn vị</th>
                <td mat-cell *matCellDef="let data">
                  <div class="text-left">{{ data.tenDonVi }}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="soLieuThiTruong">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tỷ suất lợi nhuận %</th>
                <td mat-cell *matCellDef="let data">
                  <div class="text-right">{{ data.soLieuThiTruong | number }}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="soLieuCoSo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tỷ suất lợi nhuận cơ sở %</th>
                <td mat-cell *matCellDef="let data">
                  <div class="text-right">{{ data.soLieuCoSo | number }}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="footer">
                <td mat-footer-cell *matFooterCellDef colspan="100">
                  <app-pagination [currentPage]="page" [viewFooter]="false" [totalPages]="totalPages"
                                  [totalRecord]="totalRecord"
                                  (pageChange)="changePageIndex($event)"
                                  (pageSizeChange)="changePageSize($event)"></app-pagination>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <tr mat-footer-row *matFooterRowDef="['footer']; sticky: true"></tr>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
