<nav class="navbar navbar-default header-main">
  <div class="nav-header-bottom nav-wnt-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div style="padding-left: 0" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav nav-wnt">
              <li>
                <a href="/">
                  <strong style="color:#fff">LIÊN MINH </strong>
                  <strong style="color:orange">NHÀ </strong>
                  <strong style="color:#28CC28">THUỐC </strong>
                </a>
              </li>
              <li *ngIf="isLogin()" class="dropdown menu" (mouseenter)="mouseEnter('system', 'block') "
                  (mouseleave)="mouseLeave('system','none')">
                <a href="javascript:void(0);" data-toggle="dropdown" role="button" aria-expanded="true" class="dropdown-toggle">Hệ Thống
                  <i class="fa-solid fa-chevron-down"></i></a>
                <ul class="dropdown-menu" *ngIf="isAdmin()" role="menu" [style.display]="isDisplay('system')">
                  <li><a href="/member/list">Danh sách thành viên</a></li>
                  <li><a href="#">Công cụ hệ thống</a></li>
                </ul>
                <ul class="dropdown-menu" *ngIf="!isAdmin()" role="menu" [style.display]="isDisplay('system')">
                  <li (click)="openDetailMemberDialog()"><a>Thông tin thành viên</a></li>
                </ul>
              </li>
              <li *ngIf="isLogin()" class="dropdown menu" (mouseenter)="mouseEnter('look-up', 'block') "
                  (mouseleave)="mouseLeave('look-up','none')">
                <a href="javascript:void(0);" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">Dữ liệu hàng hóa
                  <i class="fa-solid fa-chevron-down"></i></a>
                <ul class="dropdown-menu" role="menu" [style.display]="isDisplay('look-up')">
                  <li><a href="/look-up/doanh-thu-hang-hoa/list">Theo Doanh thu hàng hoá</a></li>
                  <li><a href="/look-up/so-luong-hang-hoa/list">Theo Số lượng hàng hoá</a></li>
                  <li><a href="/look-up/ty-suat-loi-nhuan-hang-hoa/list">Theo Tỷ suất lợi nhuận hàng hoá</a></li>
                  <li *ngIf="havePermissions(['DLGDHH'])"><a href="/look-up/hang-hoa-lien-minh/list">Hàng hoá Liên Minh</a></li>
                </ul>
              </li>
              <li *ngIf="isLogin() && havePermissions(['LCHH'])" class="dropdown menu" (mouseenter)="mouseEnter('transfer', 'block') "
                  (mouseleave)="mouseLeave('transfer','none')">
                <a href="javascript:void(0);" data-toggle="dropdown" role="button" aria-expanded="false"
                   class="dropdown-toggle">Giải pháp hàng hoá
                  <i class="fa-solid fa-chevron-down"></i></a>
                <ul class="dropdown-menu" role="menu" [style.display]="isDisplay('transfer')">
                  <li><a href="/transfer/hang-can-han/list">Hàng cận hạn</a></li>
                  <li><a href="/transfer/hang-it-giao-dich/list">Hàng ít giao dịch</a></li>
                  <li><a href="/transfer/hang-luan-chuyen/list">Hàng luân chuyển</a></li>
                  <li><a href="/look-up/du-tru-hang-hoa/list">Dự trù hàng hoá</a></li>
                </ul>
              </li>
              <li *ngIf="isLogin() && havePermissions(['DT'])" class="dropdown menu" (mouseenter)="mouseEnter('null', 'block') "
                  (mouseleave)="mouseLeave('null','none')">
                <a href="javascript:void(0);" data-toggle="dropdown" role="button" aria-expanded="false"
                   class="dropdown-toggle">Hoạt động liên minh
                  <i class="fa-solid fa-chevron-down"></i></a>
                <ul class="dropdown-menu" role="menu" [style.display]="isDisplay('null')">
                  <li><a href="">Đào tạo</a></li>
                </ul>
              </li>
            </ul>
            <app-info [isLogin]="isLogin()"></app-info>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
