<div class="card">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="closeModal()"><span>&times;</span></button>
      <h4 class="modal-title">{{ isUpdateView() ? 'Cập nhật thông tin thành viên' : 'Thêm mới thành viên' }}
      </h4>
    </div>
    <div class="modal-body">
      <form [formGroup]="formData">
        <div class="form-group" *ngIf="isCreateView()">
          <div class="row">
            <label class="col-sm-4 control-label">Tên đăng nhập<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <input formControlName="userName" class="form-control mb-0 text-left" type="text"/>
              <span class="text-danger field-validation-error"
                    *ngIf="formData.get('userName')?.invalid && formData.get('userName')?.touched">
              Chưa nhập tên đăng nhập!
            </span>
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="isCreateView()">
          <div class="row">
            <label class="col-sm-4 control-label">Mật khẩu<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <input formControlName="password" class="form-control mb-0 text-left" type="password"/>
              <span *ngIf="formData.get('password')?.invalid && formData.get('password')?.touched">
              <span class="text-danger field-validation-error" *ngIf="formData.get('password')?.errors?.['required']">
                Chưa nhập mật khẩu!
              </span>
              <span class="text-danger field-validation-error"
                    *ngIf="formData.get('password')?.errors?.['invalidPassword']">
                Mật khẩu phải từ 8 đến 15 ký tự và bao gồm chữ hoa, chữ thường, số và ký tự đặc biệt! VD: 123456aA&#64;
              </span>
            </span>
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="isCreateView()">
          <div class="row">
            <label class="col-sm-4 control-label">Xác nhận mật khẩu<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <input formControlName="confirmPassword" class="form-control mb-0 text-left" type="password"
                     autocomplete="off"/>
              <span *ngIf="formData.get('confirmPassword')?.touched">
              <span class="text-danger field-validation-error"
                    *ngIf="formData.get('confirmPassword')?.invalid && formData.get('confirmPassword')?.errors?.['required']">
                Chưa nhập xác nhận mật khẩu!
              </span>
              <span class="text-danger field-validation-error" *ngIf="formData.errors?.['mismatchPassword']">
                Mật khẩu và xác nhận mật khẩu không trùng khớp!
              </span>
            </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="col-sm-4 control-label">Tên thành viên<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <input formControlName="tenNhaThuoc" class="form-control mb-0 text-left" type="text"/>
              <span class="text-danger field-validation-error"
                    *ngIf="formData.get('tenNhaThuoc')?.invalid && formData.get('tenNhaThuoc')?.touched">
              Chưa nhập tên thành viên!
            </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="col-sm-4 control-label">Cấp thành viên<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <ng-select
                appendTo="body"
                appearance="outline"
                [items]="listEntity"
                formControlName="entityId"
                bindLabel="name"
                bindValue="id"
                placeholder="Lựa chọn quyền"
                notFoundText="Không tìm thấy mục nào">
                <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                  <span [ngOptionHighlight]="search">{{ item.name }}</span>
                </ng-template>
              </ng-select>
              <span class="text-danger field-validation-error"
                    *ngIf="formData.get('entityId')?.invalid && formData.get('entityId')?.touched">
                Chưa chọn quyền!
              </span>
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="isCreateView()">
          <div class="row">
            <label class="col-sm-4 control-label">Số điện thoại<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <input formControlName="dienThoai" class="form-control mb-0 text-left" type="text"/>
              <span class="text-danger field-validation-error"
                    *ngIf="formData.get('dienThoai')?.invalid && formData.get('dienThoai')?.touched">
              Chưa nhập số điện thoại!
            </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="col-sm-4 control-label">Địa chỉ<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <input formControlName="diaChi" class="form-control mb-0 text-left" type="text"/>
              <span class="text-danger field-validation-error"
                    *ngIf="formData.get('diaChi')?.invalid && formData.get('diaChi')?.touched">
              Chưa nhập địa chỉ!
            </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="col-sm-4 control-label">Email</label>
            <div class="col-sm-8">
              <input formControlName="email" class="form-control mb-0 text-left" type="text"/>
              <span class="text-danger field-validation-error"
                    *ngIf="formData.get('email')?.errors?.['email'] && formData.get('email')?.touched">
              Email không đúng định dạng!
            </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="col-sm-4 control-label">Ghi chú</label>
            <div class="col-sm-8">
              <textarea formControlName="description" class="form-control mb-0 text-left" rows="5"></textarea>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="closeModal()">Đóng</button>
      <button type="button" class="btn btn-primary" (click)="save()"
              [disabled]="formData.invalid">{{ isUpdateView() ? 'Cập nhật' : 'Thêm mới' }}
      </button>
    </div>
  </div>
</div>
