<div class="container body-content w-95">
  <div class="content">
    <div class="row">
      <div class="col-md-3 baocao-filter">
        <div class="sidebar-bg">
          <form [formGroup]="formData">
            <fieldset>
              <label>Top hiển thị</label>
              <div class="control-group">
                <input formControlName="textSearch" type="text" class="form-control"
                       placeholder=""
                       (keyup.enter)="searchPage()"/>
              </div>
            </fieldset>
            <fieldset class="baocao-filter mb-3">
              <div class="option mb-3">
                <app-date-range-filter [filterType]="DATE_RANGE.ALL"
                                       [fromDateControl]="'fromDate'"
                                       [toDateControl]="'toDate'"
                                       (filterTypeChange)="changeFilterType($event)"
                                       (fromDateChange)="changeFromDate($event)"
                                       (toDateChange)="changeToDate($event)"
                ></app-date-range-filter>
              </div>
              <button type="button" class="btn btn-primary w-100" (click)="searchPage()">Xem</button>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="col-md-9">
        <div class="baocao-container box-group-white">
          <h2 class="text-center"><b>{{ title }}</b></h2>
          <div class="mat-table-container">
            <table mat-table
                   class="table table-striped table-bordered table-hover tr-ng-grid"
                   [dataSource]="getDataSource()" matSort>

              <ng-container matColumnDef="#">
                <th mat-header-cell *matHeaderCellDef> #</th>
                <td mat-cell *matCellDef="let data; index as i;">
                  <div class="text-right">
                    {{ (page - 1) * pageSize + i + 1 }}
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="tenThuoc">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên thành viên</th>
                <td mat-cell *matCellDef="let data">
                  <div class="text-left">{{ data.tenThuoc }}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="nhomThuoc">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nhóm thuốc</th>
                <td mat-cell *matCellDef="let data">
                  <div class="text-left">{{ data.nhomThuoc }}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="donVi">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Đơn vị</th>
                <td mat-cell *matCellDef="let data">
                  <div class="text-left">{{ data.donVi }}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="soLuong">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Số lượng</th>
                <td mat-cell *matCellDef="let data">
                  <div class="text-right">{{ data.soLuong }}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="soLuongCoSo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Số lượng cơ sở</th>
                <td mat-cell *matCellDef="let data">
                  <div class="text-right">{{ data.soLuongCoSo }}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="footer">
                <td mat-footer-cell *matFooterCellDef colspan="100">
                  <app-pagination [currentPage]="page" [totalPages]="totalPages" [totalRecord]="totalRecord"
                                  (pageChange)="changePageIndex($event)"
                                  (pageSizeChange)="changePageSize($event)"></app-pagination>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <tr mat-footer-row *matFooterRowDef="['footer']; sticky: true"></tr>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
