<div class="container body-content w-95">
    <div class="content">
        <div class="card-bg">
            <h2 class="card-title text-center"><b>{{title}}</b></h2>
            <div class="text-center card-desc">
                <div class="card-code">
                    Mã số: <strong>{{data.soPhieu}}</strong>
                </div>
                <span id="" style="width: 10%">Ngày: <strong>{{data.ngayTao | appDate}}</strong></span>
            </div>
            <table mat-table class="table table-striped table-bordered table-hover tr-ng-grid" [dataSource]="getDataSource()"
                matSort>
        
                <ng-container matColumnDef="#">
                    <th mat-header-cell *matHeaderCellDef> STT</th>
                    <td mat-cell *matCellDef="let data; index as i;">
                        {{ (page - 1) * pageSize + i + 1 }}
                    </td>
                </ng-container>
        
                <ng-container matColumnDef="maThuoc">
                    <th mat-header-cell *matHeaderCellDef> Mã</th>
                    <td mat-cell *matCellDef="let data">
                        {{ data.maThuocText }}
                    </td>
                </ng-container>
        
                <ng-container matColumnDef="tenThuoc">
                    <th mat-header-cell *matHeaderCellDef> Tên hàng</th>
                    <td mat-cell *matCellDef="let data">
                        {{ data.tenThuocText }}
                    </td>
                </ng-container>
        
                <ng-container matColumnDef="donViTon">
                    <th mat-header-cell *matHeaderCellDef> Đơn vị tồn</th>
                    <td mat-cell *matCellDef="let data"> {{ data.maDonViTonText }}</td>
                </ng-container>
        
                <ng-container matColumnDef="soLuongCanhBao">
                    <th mat-header-cell *matHeaderCellDef> SL cảnh báo</th>
                    <td class="text-right" mat-cell *matCellDef="let data"> {{ data.soLuongCanhBao | number }}</td>
                </ng-container>
        
                <ng-container matColumnDef="tonKho">
                    <th mat-header-cell *matHeaderCellDef> Tồn kho</th>
                    <td class="text-right" mat-cell *matCellDef="let data"> {{ data.tonKho | number }}</td>
                </ng-container>
        
                <ng-container matColumnDef="duTru">
                    <th mat-header-cell *matHeaderCellDef> Dự trù</th>
                    <td class="text-right" mat-cell *matCellDef="let data"> {{ data.duTru | number }}</td>
                </ng-container>
        
                <ng-container matColumnDef="donViDuTru">
                    <th mat-header-cell *matHeaderCellDef> Đơn vị dự trù</th>
                    <td mat-cell *matCellDef="let data"> {{ data.maDonViDuTruText }}</td>
                </ng-container>
        
                <ng-container matColumnDef="donGia">
                    <th mat-header-cell *matHeaderCellDef> Đơn giá</th>
                    <td mat-cell *matCellDef="let data"> {{ permittedFields.drug_ViewInputPrice ? (data.donGia | number) : '****' }}</td>
                </ng-container>
        
                <ng-container matColumnDef="thanhTien">
                    <th mat-header-cell *matHeaderCellDef> Thành tiền</th>
                    <td mat-cell *matCellDef="let data"> {{ permittedFields.drug_ViewInputPrice ? (data.donGia * data.duTru | number) : '****' }}</td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <b>Tổng Số Tiền:&nbsp;<span id="spanSumAll"></span></b><span *ngIf="permittedFields.drug_ViewInputPrice">{{data.tongTien | number}}</span>
                    <span *ngIf="!permittedFields.drug_ViewInputPrice">****</span>
                </div>
            </div>
        
            <table class="table borderless table-condensed">
                <tr>
                    <td class="text-left" style="padding-left: 0px">
                        <label class="control-label">Người lập:&nbsp;</label>
                        <span>{{data.createdByUserText}}</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

