* {
  font-family: 'Times New Roman', Times, serif;
}

ngx-dropzone,
.custom-dropzone {
  margin: 15px;
}

.custom-dropzone {
  height: 200px;
  background: #f5f4f4fd;
  color: #91a7f0;
  border: 2px dashed rgb(102, 148, 235);
  border-radius: 2px;
  font-size: 20px;
}

/*.custom-dropzone.ngx-dz-hovered {*/
/*  border: 5px solid rgb(235, 79, 79);*/
/*}*/
