<div class="container body-content w-95">
  <div class="content">
    <div class="row">
      <div class="col-md-3 baocao-filter">
        <div class="sidebar-bg">
          <form [formGroup]="formData">
            <fieldset class="mb-3">
              <label>Theo mặt hàng</label>
              <ng-select
                class="mb-3"
                appendTo="body"
                appearance="outline"
                [items]="listThuocType"
                formControlName="thuocType"
                bindLabel="name"
                bindValue="value"
                notFoundText="Không tìm thấy mục nào"
                [clearable]="false"
              >
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                  <span [ngOptionHighlight]="search">{{ item.name }}</span>
                </ng-template>
              </ng-select>
              <ng-select
                *ngIf="formData.value?.thuocType == 1"
                [items]="listNhomThuoc$ | async"
                [typeahead]="searchNhomThuocTerm$"
                [minTermLength]="2"
                formControlName="thuocGroupId"
                appendTo="body"
                appearance="outline"
                bindLabel="tenNhomThuoc"
                bindValue="id"
                placeholder="Chọn hoặc gõ vào để tìm..."
                notFoundText="Không tìm thấy mục nào"
                typeToSearchText="Nhập 2 hoặc nhiều kí tự hơn để tìm kiếm"
                (change)="searchThuocTerm$.next('')">
                <ng-template ng-label-tmp let-item="item">
                  <span *ngIf="item.tenThuoc">{{ item.tenThuoc }}</span>
                  <span *ngIf="!item.tenThuoc">{{ formData.value?.customer.tenThuoc }}</span>
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                  <span [ngOptionHighlight]="search">{{ item.tenNhomThuoc }}</span>
                </ng-template>
              </ng-select>
              <ng-select
                *ngIf="formData.value?.thuocType == 2"
                [items]="listThuoc$ | async"
                [typeahead]="searchThuocTerm$"
                [minTermLength]="2"
                formControlName="thuocId"
                appendTo="body"
                appearance="outline"
                bindLabel="tenThuoc"
                bindValue="id"
                placeholder="Nhập mã, mã vạch hoặc tên..."
                notFoundText="Không tìm thấy mục nào"
                typeToSearchText="Nhập 2 hoặc nhiều kí tự hơn để tìm kiếm"
                (change)="searchThuocTerm$.next('')">
                <ng-template ng-label-tmp let-item="item">
                  <span *ngIf="item.tenThuoc">{{ item.tenThuoc }}</span>
                  <span *ngIf="!item.tenThuoc">{{ formData.value?.customer.tenThuoc }}</span>
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                  <span [ngOptionHighlight]="search">{{ item.tenThuoc }}</span>
                </ng-template>
              </ng-select>
            </fieldset>
            <fieldset class="baocao-filter mb-3">
              <button type="button" class="btn btn-primary w-100" (click)="searchPage()">Xem</button>
              <a (click)="lapPhieuDuTru()" class="btn btn-primary mt-3 w-100">Dự trù</a>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="col-md-9">
        <div class="baocao-container box-group-white">
          <h2 class="text-center"><b>{{ title }}</b></h2>
          <ul class="nav nav-tabs">
            <li [ngClass]="{'active': getLoaiHangDuTru() == LOAI_HANG_DU_TRU.HANG_CO_SO}">
              <a data-toggle="tab" (click)="setLoaiHangDuTru(LOAI_HANG_DU_TRU.HANG_CO_SO)">Hàng cơ sở</a>
            </li>
            <li [ngClass]="{'active': getLoaiHangDuTru() == LOAI_HANG_DU_TRU.HANG_GOI_Y_CHUA_KINH_DOANH}">
              <a data-toggle="tab" (click)="setLoaiHangDuTru(LOAI_HANG_DU_TRU.HANG_GOI_Y_CHUA_KINH_DOANH)">Hàng gợi ý chưa giao dịch</a>
            </li>
          </ul>
          <div class="panel-body" [hidden]="getLoaiHangDuTru() !== LOAI_HANG_DU_TRU.HANG_CO_SO">
            <app-look-up-du-tru-hang-co-so-table
              [formData]="formData"
              [formDataChange]="formDataChange">
            </app-look-up-du-tru-hang-co-so-table>
          </div>
          <div class="panel-body" [hidden]="getLoaiHangDuTru() !== LOAI_HANG_DU_TRU.HANG_GOI_Y_CHUA_KINH_DOANH">
            <app-look-up-du-tru-hang-goi-y-chua-kinh-doanh-table
              [formData]="formData"
              [formDataChange]="formDataChange">
            </app-look-up-du-tru-hang-goi-y-chua-kinh-doanh-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
