<div class="mat-table-container">
  <table mat-table
         class="table table-striped table-bordered table-hover tr-ng-grid"
         [dataSource]="getDataSource()" matSort>
    <ng-container matColumnDef="checkBox">
      <th mat-header-cell *matHeaderCellDef>
        <input type="checkbox"
               [(ngModel)]="allChecked"
               (ngModelChange)="updateAllChecked()"
               title="select row">
      </th>
      <td mat-cell *matCellDef="let data; index as i;">
        <div class="text-center">
          <input type="checkbox"
                 [(ngModel)]="data.checked"
                 (ngModelChange)="updateSingleChecked()"
                 title="select row">
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="#">
      <th mat-header-cell *matHeaderCellDef>
        <div class="text-left">
          #
        </div>
      </th>
      <td mat-cell *matCellDef="let data; index as i;">
        <div class="text-right">
          {{ (page - 1) * pageSize + i + 1 }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="tenThuoc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Thuốc</th>
      <td mat-cell *matCellDef="let data">
        <div class="text-left">{{data.tenThuoc}}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="tenNhomThuoc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nhóm thuốc</th>
      <td mat-cell *matCellDef="let data">
        <div class="text-left">{{ data.tenNhomThuoc }}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="tenDonViTinh">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Đơn vị dự trù</th>
      <td mat-cell *matCellDef="let data">
        <div class="text-left"><input class="form-control" type="text" [(ngModel)]="data.tenDonViTinh"/></div>
      </td>
    </ng-container>

    <ng-container matColumnDef="donGia">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Đơn giá</th>
      <td mat-cell *matCellDef="let data">
        <div class="text-right"><input class="form-control" type="text" [(ngModel)]="data.donGia"  mask="separator"/></div>
      </td>
    </ng-container>

    <ng-container matColumnDef="deXuatDuTru">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Đề xuất dự trù</th>
      <td mat-cell *matCellDef="let data">
        <div class="text-left">
          <input class="form-control" [(ngModel)]="data.deXuatDuTru" />
        </div>
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="footer">
      <td mat-footer-cell *matFooterCellDef colspan="100">
        <app-pagination [currentPage]="page" [totalPages]="totalPages" [totalRecord]="totalRecord"
                        (pageChange)="changePageIndex($event)"
                        (pageSizeChange)="changePageSize($event)"></app-pagination>
      </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
    <!-- <tr mat-footer-row *matFooterRowDef="['footer']"></tr> -->

  </table>
</div>
