<div class="container body-content w-95">
  <div class="content">
    <div class="row">
      <div class="col-md-3 baocao-filter">
        <div class="sidebar-bg">
          <form [formGroup]="formData">
            <fieldset class="mb-3">
              <label>Theo mặt hàng</label>
              <ng-select [items]="listThuoc$ | async" [typeahead]="searchThuocTerm$" [minTermLength]="2"
                         formControlName="thuocId" appendTo="body" appearance="outline" bindLabel="tenThuoc"
                         bindValue="thuocId" placeholder="Nhập mã, mã vạch hoặc tên..."
                         notFoundText="Không tìm thấy mục nào"
                         typeToSearchText="Nhập 2 hoặc nhiều kí tự hơn để tìm kiếm"
                         (change)="searchThuocTerm$.next('')">
                <ng-template ng-label-tmp let-item="item">
                  <span *ngIf="item.tenThuoc">{{ item.tenThuoc }}</span>
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                  <span [ngOptionHighlight]="search">{{ item.tenThuoc }}</span>
                </ng-template>
              </ng-select>
            </fieldset>
            <fieldset>
              <label>Loại hàng</label>
              <div class="control-group">
                <ng-select appendTo="body" appearance="outline" [items]="listLoaiHang" formControlName="loaiHang"
                           bindLabel="name" bindValue="value" placeholder="--Tất cả--"
                           notFoundText="Không tìm thấy mục nào">
                  <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                    <span [ngOptionHighlight]="search">{{ item.name }}</span>
                  </ng-template>
                </ng-select>
              </div>
            </fieldset>
            <fieldset>
              <label>Nhóm ngành hàng</label>
              <div class="control-group">
                <ng-select appendTo="body" appearance="outline" [items]="listNhomNganhHang"
                           formControlName="nhomNganhHangId" bindLabel="tenNganhHang" bindValue="nhomNganhHangId"
                           placeholder="Chọn hoặc gõ vào để tìm..." notFoundText="Không tìm thấy mục nào"
                           [clearable]="true">
                  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <span [ngOptionHighlight]="search">{{ item.tenNganhHang }}</span>
                  </ng-template>
                </ng-select>
              </div>
            </fieldset>
            <fieldset>
              <label>Nhóm dược lý</label>
              <div class="control-group">
                <ng-select appendTo="body" appearance="outline" [items]="listNhomDuocLy" formControlName="nhomDuocLyId"
                           bindLabel="tenDuocLy" bindValue="nhomDuocLyId" placeholder="Chọn hoặc gõ vào để tìm..."
                           notFoundText="Không tìm thấy mục nào" [clearable]="true">
                  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <span [ngOptionHighlight]="search">{{ item.tenDuocLy }}</span>
                  </ng-template>
                </ng-select>
              </div>
            </fieldset>
            <fieldset>
              <label>Nhóm hoạt chất</label>
              <div class="control-group">
                <ng-select appendTo="body" appearance="outline" [items]="listNhomHoatChat"
                           formControlName="nhomHoatChatId" bindLabel="tenHoatChat" bindValue="nhomHoatChatId"
                           placeholder="Chọn hoặc gõ vào để tìm..." notFoundText="Không tìm thấy mục nào"
                           [clearable]="true">
                  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <span [ngOptionHighlight]="search">{{ item.tenHoatChat }}</span>
                  </ng-template>

                </ng-select>
              </div>
            </fieldset>
            <fieldset>
              <label>Tỉnh thành</label>
              <div class="control-group">
                <ng-select appendTo="body" appearance="outline" [items]="listTinhThanh" formControlName="regionId"
                           bindLabel="name" bindValue="id" placeholder="--Tất cả--"
                           notFoundText="Không tìm thấy mục nào" (change)="changeTinhThanh($event)">
                  <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                    <span [ngOptionHighlight]="search">{{ item.name }}</span>
                  </ng-template>
                </ng-select>
              </div>
            </fieldset>
            <fieldset>
              <label>Quận huyện</label>
              <div class="control-group">
                <ng-select appendTo="body" appearance="outline" [items]="listQuanHuyen" formControlName="cityId"
                           bindLabel="name" bindValue="id" placeholder="--Tất cả--"
                           notFoundText="Không tìm thấy mục nào" (change)="changeQuanHuyen($event)">
                  <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                    <span [ngOptionHighlight]="search">{{ item.name }}</span>
                  </ng-template>
                </ng-select>
              </div>
            </fieldset>
            <fieldset>
              <label>Phường xã</label>
              <div class="control-group">
                <ng-select appendTo="body" appearance="outline" [items]="listPhuongXa" formControlName="wardId"
                           bindLabel="name" bindValue="id" placeholder="--Tất cả--"
                           notFoundText="Không tìm thấy mục nào">
                  <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                    <span [ngOptionHighlight]="search">{{ item.name }}</span>
                  </ng-template>
                </ng-select>
              </div>
            </fieldset>
            <fieldset class="baocao-filter mb-3">
              <app-date-range-filter [filterType]="DATE_RANGE.BY_DATE" [fromDateControl]="'fromDate'"
                                     [toDateControl]="'toDate'" (filterTypeChange)="changeFilterType($event)"
                                     (fromDateChange)="changeFromDate($event)"
                                     (toDateChange)="changeToDate($event)"></app-date-range-filter>
              <button type="button" class="btn btn-primary w-100" (click)="searchPage()">Xem</button>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="col-md-9">
        <div class="baocao-container box-group-white">
          <h2 class="text-center"><b>{{ title }}</b></h2>
          <div class="mat-table-container">
            <ul class="nav nav-tabs">
              <li [ngClass]="{'active' : checkTab == 'market'}">
                <a (click)="checkTab = 'market'">Thị trường&nbsp;<span class="label label-info pull-right">
                                               {{ transactionHistoryMarketItemTableComponent?.totalRecord }}
                                        </span></a>
              </li>
              <li [ngClass]="{'active' : checkTab == 'careAbout'}">
                <a (click)="checkTab = 'careAbout'">Quan tâm&nbsp;<span class="label label-info pull-right">
                                            {{ transactionHistoryCareAboutItemTableComponent?.totalRecord | number }}
                                        </span></a>
              </li>
              <li [ngClass]="{'active' : checkTab == 'itemIn'}">
                <a (click)="checkTab = 'itemIn'">Hàng đến&nbsp;<span class="label label-info pull-right">
                                            {{ transactionHistoryInItemTableComponent?.totalRecord | number }}
                                        </span></a>
              </li>
              <li [ngClass]="{'active' : checkTab == 'itemOut'}">
                <a (click)="checkTab = 'itemOut'">Hàng đi&nbsp;<span class="label label-info pull-right">
                                            {{ transactionHistoryOutItemTableComponent?.totalRecord | number }}
                                        </span></a>
              </li>
            </ul>
            <div class="tab-content">
              <div id="#ActivePage=0" [hidden]="checkTab != 'market'">
                <div class="panel-body">
                  <app-transaction-history-market-item-table [formData]="formData" [formDataChange]="formDataChange"
                                                             (requestSearchPage)="onRequestSearchPage()"></app-transaction-history-market-item-table>
                </div>
              </div>
              <div id="#ActivePage=1" [hidden]="checkTab != 'careAbout'">
                <div class="panel-body">
                  <app-transaction-history-care-about-item-table [formData]="formData" [formDataChange]="formDataChange"
                                                                 (requestSearchPage)="onRequestSearchPage()"></app-transaction-history-care-about-item-table>
                </div>
              </div>
              <div id="#ActivePage=2" [hidden]="checkTab != 'itemIn'">
                <div class="panel-body">
                  <app-transaction-history-in-item-table [formData]="formData" [formDataChange]="formDataChange"
                                                              (requestSearchPage)="onRequestSearchPage()"></app-transaction-history-in-item-table>
                </div>
              </div>
              <div id="#ActivePage=3" [hidden]="checkTab != 'itemOut'">
                <div class="panel-body">
                  <app-transaction-history-out-item-table [formData]="formData" [formDataChange]="formDataChange"
                                                              (requestSearchPage)="onRequestSearchPage()"></app-transaction-history-out-item-table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
