<div class="card">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="closeModal()"><span>&times;</span></button>
      <h4 class="modal-title"> Thông tin thành viên
      </h4>
    </div>
    <div class="modal-body">
         <table class="table">
              <tr>
                <td>Tên thành viên</td>
                <td>{{info.tenNhaThuoc}}</td>
              </tr>
              <tr>
                <td>Số điện thoại</td>
                <td>{{info.soDienThoai}}</td>
              </tr>
              <tr>
                <td>Địa chỉ</td>
                <td>{{info.diaChi}}</td>
              </tr>
              <tr>
                <td>Ngày tham gia</td>
                <td>{{info.created}}</td>
              </tr>
              <tr>
                <td>Cấp thành viên</td>
                <td>{{info.level}}</td>
              </tr>
         </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="closeModal()">Đóng</button>
    </div>
  </div>
</div>
