<div class="card">
  <div class="modal-content">
    <div class="modal-header" style="background-color: #35a6ca;">
      <h4 class="modal-title" style="color: white;"> Thông tin thành viên
      </h4>
    </div>
    <div class="modal-body">
          <img src="/assets/images/profile-default.jpg" style="width:50%; border-radius: 50%;">
          <h3>Tên: {{info.tenNhaThuoc}}</h3>
          <h4>Cấp thành viên: {{info.level}}</h4>
          <p class="title">Số điện thoại: {{info.soDienThoai}}</p>
          <p class="title">Địa chỉ: {{info.diaChi}}</p>
          <p class="title">Ngày tham gia: {{info.created}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="closeModal()">Đóng</button>
    </div>
  </div>
</div>
